.cityInput:checked + label {
	background-color: #FFFFF !important;
	opacity: .5;
	color: #1CABD2 !important;
}

.cityLabel {
	color: white;
	font-size: 12px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
}

.cityLabel:hover {
	color: #1CABD2;
	font-weight: bold;
}

.rounded-toggle {
	background: none;

}	
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
   
#sidebar {
    position:absolute;
    left:-270px;
    /*we hide it to the left while being absolute*/
    cursor:pointer;
    /*this code makes a smooth transition */
    transition:all 0.8s ease-in-out;
    -moz-transition:all 0.8s ease-in-out;
    -o-transition:all 0.8s ease-in-out;
    -webkit-transition:all 0.8s ease-in-out;
}
#sidebar:hover {
    left:0;
    /*on mouse over, bring back its position*/
}

aside {
    font:15px Arial;
    color:#ccc;
    width:300px;
    background:#000;
    /*border-right:10px solid #1CABD2;*/
    height:500px;
}
button {
    height:100%;
    vertical-align:top;
    background:#1CABD2;
}
.left {
    float:left;
}
.right {
    float:right;
}
