.infoToggler:checked+label {
    background-color: #000 !important;
    opacity: .8;
    background: none transparent!important;
    color: #ccc !important;
    border: solid #ccc;
}

.cityLabel {
    color: #1CABD2;
    font-size: 15px;
    font-family: "Arial";
    font-weight: bold;
}

.cityLabel:hover {
    background: rgba(128, 128, 128, 0.5);
}

.rounded-toggle {
    background: none transparent !important;
    color: #fff;
}

.toggleLabel {
    color: white;
    font-size: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#sidebar {
    position: absolute;
    right: 1%;
    bottom: 4%;
    /*we hide it to the right while being absolute*/
    cursor: pointer;
    background: none transparent;
    transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
}

#sidebar:hover {
    right: 1%;
    /*on mouse over, bring back its position*/
}

aside {
    font: 15px Arial;
    color: #ccc;
    width: 300px;
    background: #000;
    /*border-right:10px solid #1CABD2;*/
    height: 325px;
}

button {
    height: 100%;
    vertical-align: top;
    background: #1CABD2;
}

.vertical {
    transform: rotate(270deg);
}

.left {
    float: left;
}

.right {
    float: right;
}